.intro {
  &__container {
    display: grid;
    gap: $lg;
    align-items: center;
    @include r(1024) {
      grid-template-columns: 600px 1fr;
    }
  }

  &__txt {
    max-width: 500px;
    margin: auto;
    display: grid;
    gap: $lg;
  }

  &__title {
    font-weight: 800;
    color: $c-main;
    max-width: 530px;
    font-size: 48px;
    line-height: .9;
    margin: 0;
    @include r(1024) {
      font-size: 60px;
    }
    span {
      display: block;
      // text-align: right;
      font-weight: normal;
      font-size: .75em;
      @include r(450) {
        margin-left: 3.5em;
      }
    }
  }

  &__getform {}

  &__counter {
    display: flex;
    gap: $lg;
    @include rmax(450){
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}


.count {
  text-align: center;
  font-size: 24px;
  line-height: 1;
  color: $c-dark;
  &__num {
    font-size: 1.9em;
    font-weight: 800;
    white-space: nowrap;
  }

  &__txt {}
}

.services {
  &__container {
    @include r(1024) {
      display: grid;
      grid-template-columns: 20% 1fr;
      gap: $lg;
    }
  }

  .tabs__inner-list {
    @include r(650) {
      columns: 2;
    }
  }
}

.tabs__inner-item {
  display: flex;
  font-weight: bold;
  padding: .25em 0;
  &:before {
    content: '';
    flex: 0 0 .5em;
    width: .5em;
    height: .5em;
    margin: .4em .25em 0 0;
    border-radius: 50%;
    background-color: $c-sec;
  }
}

.discounts-wrap {
  padding: 20px 0;
  background-color: #fff;
}
.discounts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.discount {
  flex: 0 1 250px;
  border-radius: 10px;
  position: relative;
  &:not(:last-child)::after {
    @extend %sep;
    @include rmax(600) {
      left: 0;
      right: auto;
      bottom: -30px;
      width: 100%;
      height: 10px;
    }
  }
  &__txt {
    font-weight: bold;
    font-size: 18px;
  }

  &__num {
    text-align: right;
    color: $c-sec;
    font-size: 60px;
    font-weight: bold;
    span {
      font-weight: normal;
      font-size: .75em;
    }
  }
}

.order {
  &__wrap {
    display: grid;
  }

  &__more {}
}

