.intro {
  &__container {
    display: grid;
    gap: $lg;
    align-items: center;
    @include r(1024) {
      grid-template-columns: 600px 1fr;
    }
  }

  &__txt {
    max-width: 500px;
    margin: auto;
    display: grid;
    gap: $lg;
  }

  &__title {
    font-weight: 800;
    color: $c-main;
    max-width: 530px;
    font-size: 48px;
    line-height: .9;
    margin: 0;
    @include r(1024) {
      font-size: 60px;
    }
    span {
      display: block;
      margin-left: 3.5em;
      // text-align: right;
      font-weight: normal;
      font-size: .75em;
    }
  }

  &__getform {}

  &__counter {
    display: flex;
    gap: $lg;
  }
}

.btn {
  &--light {}
}

.counters {}

.count {
  text-align: center;
  font-size: 24px;
  line-height: 1;
  color: $c-dark;
  &__num {
    font-size: 1.9em;
    font-weight: 800;
    white-space: nowrap;
  }

  &__txt {}
}
