.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: $lg;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .icon-arr-down{
    transition: all .3s;
    display: none;
  }
  &.style__vertical {
    .tabs__nav {
      display: flex;
      flex-direction: column;
      .tabs__nav_link {
        border-radius: 10px 0px 0px 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-bottom: 2px solid $c-sec;
      }
    }
  }

  &__content {
    display: none;
    flex: 1;
    max-width: 800px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 10px;
    &.is__active {
      display: block;
      .tabs__content_wrapper {
        display: block;
      }
    }
    .tabs__nav_link {
      display: none;
    }
  }

  &__content_wrapper {
    padding: 1em;
    display: none;
  }

  &__nav_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 1em;
    padding: 1em;
    font-weight: 800;
    transition: all .3s;
    cursor: pointer;
    &:not(:first-child) {
      margin-top: .5em;
    }
    
    &:hover, &.is__active {
      background-color: $c-sec;
      color: #fff;
    } 
    .tabs__nav &.is__active {
      width: calc(100% + $lg);
    }
  }
}

.tabs.is__responsive {
  flex-direction: column;
  .tabs__nav {
    display: none;
  }
  .tabs__content {
    display: block;
  }
  .tabs__nav_link {
    display: flex;
    .icon-arr-down {
      display: block;
    }
    &.is__active {
      .icon-arr-down {
        transform: rotate(180deg);
      }
    }
  }
}

