{% extends "./parthtml/base.html" %}
{% block content %}
<div class="intro">
    <div class="intro__container">
        <div class="intro__txt">
            <h1 class="intro__title">Переводы <span>для бизнеса <br>и частных лиц</span></h1>
            <div class="intro__getform">
                <a href="#form-gettranslate" class="btn ">Заказать перевод On-line</a>
            </div>
            <div class="intro__counter counters">
                <div class="count">
                    <div class="count__num">46</div>
                    <div class="count__txt">языков</div>
                </div>
                <div class="count">
                    <div class="count__num">7</div>
                    <div class="count__txt">офисов</div>
                </div>
                <div class="count">
                    <div class="count__num">14 лет</div>
                    <div class="count__txt">опыта</div>
                </div>
            </div>
        </div>
        <img src="@/img/intro.png" alt="Бюро переводов">
    </div>
</div>
{% endblock %}
