{% extends "./parthtml/base.html" %}
{% block content %}
<div class="intro section">
  <div class="intro__container">
    <div class="intro__txt">
      <h1 class="intro__title">Переводы <br> и апостиль<span>для бизнеса <br>и частных лиц</span></h1>
      <div class="intro__getform">
        <a href="#form-gettranslate" class="btn ">Заказать перевод On-line</a>
      </div>
      <div class="intro__counter counters">
        <div class="count">
          <div class="count__num">46</div>
          <div class="count__txt">языков</div>
        </div>
        <div class="count">
          <div class="count__num">7</div>
          <div class="count__txt">офисов</div>
        </div>
        <div class="count">
          <div class="count__num">14 лет</div>
          <div class="count__txt">опыта</div>
        </div>
      </div>
    </div>
    <img src="@/img/intro.png" alt="Бюро переводов">
  </div>
</div>

<div class="services section">
  <div class="services__container">
    <h2 class="title">Услуги</h2>
    <div class="services__tabs tab">
      <ul class="tabs" id="js-tabs-service">
        <li class="tabs__content" data-title="Для частных лиц">
          <ul class="tabs__inner-list">
            <li class="tabs__inner-item">
              <a href="" class="">перевод паспорта</a>
            </li>
            <li class="tabs__inner-item">
              <a href="" class="">перевод справки о несудимости</a>
            </li>
            <li class="tabs__inner-item">
              <a href="" class="">свидетельства о браке</a>
            </li>
            <li class="tabs__inner-item">
              <a href="" class="">перевод свидетельства о рождении</a>
            </li>
            <li class="tabs__inner-item">
              <a href="" class="">перевод диплома</a>
            </li>
            <li class="tabs__inner-item">
              <a href="" class="">перевод аттестата</a>
            </li>
            <li class="tabs__inner-item">
              <a href="" class="">перевод справки об отсутствии брака</a>
            </li>
            <li class="tabs__inner-item">
              <a href="" class="">перевод доверенности</a>
            </li>
            <li class="tabs__inner-item">
              <a href="" class="">перевод согласия</a>
            </li>
            <li class="tabs__inner-item">
              <a href="" class="">перевод трудовой книжки</a>
            </li>
            <li class="tabs__inner-item">
              <a href="" class="">перевод штампов и печатей</a>
            </li>
          </ul>
        </li>
        <li class="tabs__content" data-title="Для корпоративных клиентов">
          tab 2
        </li>
        <li class="tabs__content" data-title="Специальный перевод">
          tab 3
        </li>
        <li class="tabs__content" data-title="Апостиль/Легализация">
          tab 4
        </li>
        <li class="tabs__content" data-title="Истребование документов">
          tab 5
        </li>
        <li class="tabs__content" data-title="Устный перевод">
          tab 6
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="section discounts-wrap">
  <div class="container">
    <div class="discounts">
      <div class="discount">
        <div class="discount__txt">В сентябре
          скидки на апостиль</div>
        <div class="discount__num">-15<span>%</span> </div>
      </div>
      <div class="discount">
        <div class="discount__txt">Скидки в Лиде
          на перевод с английского</div>
        <div class="discount__num">-25<span>%</span> </div>
      </div>
    </div>
  </div>
</div>

<div class="order section">
  <div class="container">
    <h2 class="title">Заявка на перевод</h2>
    <div class="order__wrap">
      {% set orderform = 'order-form--index' %}
      {% include "parthtml/form_order.html" %}
      <div class="order__more">
        <div>Заполните форму или свяжитесь с нашим менеджером по телефону
          <a href="tel:+375 17 251-77-77" class="tel">+375 (17) 251-77-77</a>
        </div>

        <div class="socials">
          <a href="#" class="social">
            {{ macro.iconSvg('icon-telegram') }}
          </a>
          <a href="#" class="social">
            {{ macro.iconSvg('icon-viber') }}
          </a>
          <a href="#" class="social social--whatsapp">
            {{ macro.iconSvg('icon-whatsapp') }}
          </a>
        </div>
        <a href="#" class="btn btn--fill">Заказать обратный звонок</a>
      </div>
    </div>
  </div>
</div>

<div class="info section">
  <div class="container">
    <div class="info__body">
      <p>Стандартная учетная страница в бюро переводов рассчитывается за стандартную учетную страницу – 1800 знаков с
        пробелами
        (около 1500 знаков без пробелов или 250 слов).</p>
      <p>Минимальный заказ на выполнение письменного перевода - 1 условная страница. Если документ содержит менее 1800
        знаков,
        его стоимость будет рассчитываться как за одну условную страницу.</p>
      <p><a href="#"><strong>Подробнее о ценообразовании и прайс-лист на услуги</strong></a></p>
    </div>
  </div>
</div>



{% endblock %}
